
.row{
    width: 100%;
    max-width: 800px;
    margin:  0 auto;
}


/* CONTAINER */

.navbar__Wrapper {
    display: flex;
    justify-content: space-between;
}

a {
    padding-right: 16px;
    text-decoration: none;
    color: #000;
}

header {
    height: 72px;
}

/* USER FORM */

.userForm__wrapper {
    display: flex;
    flex-direction: column;
    height:150px;
    justify-content: flex-end;
}

form{
    width: 100%;
    max-width: 200px;
}

button{
    margin-left: 8px;
}


