
.row{
    width: 100%;
    max-width: 800px;
    margin:  0 auto;
    padding: 0 12px;
}


/* CONTAINER */

.navbar__Wrapper {
    display: flex;
    justify-content: space-between;
}

a {
    padding-right: 16px;
    text-decoration: none;
    color: #000;
}

header {
    height: 72px;
}

/* USER FORM */

.userForm__wrapper {
    height: 150px;    
    display: flex;    
    justify-content: space-between;
}

form{
    padding-top: 72px; 
    width: 100%;
    max-width: 200px;
}

button{
    margin-left: 8px;
}

