* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /* margin: 16px; */
  background-color: #ffffe4;

}
h1 {  
  font-family:'Kinkee', Arial, Helvetica, sans-serif;
  font-size: 70px;
}
@font-face {
  font-family: 'Kinkee';
  font-style: normal;
  font-weight: normal;
  src: local('Kinkee'), url('KINKEE__.woff') format('woff');
  } 

.row{
  width: 100%;
  max-width: 800px;
  margin:  0 auto;
}

/* .tag__container {
  scroll-behavior: smooth;
} */


/* CONTAINER */


a {
  padding-right: 16px;
  text-decoration: none;
  color: #000;
  scroll-behavior: smooth;
}

a:hover {
  text-decoration: underline;
}

header {
  height: 72px;
}

/* USER FORM */

.userForm__wrapper {
  display: flex;
  justify-content: flex-end;
}

form{
  width: 100%;
  max-width: 200px;
}

.user__top--wrapper {
  height: 200px;

}

.user__form--title, .user__welcome--title {
  margin-bottom: 16px;
}

.user__welcome--wrapper {

}

.user__form--button {
  margin-left: 8px;
}

/* ANIMAL CONTAINER */

.animal__container {
  display: grid;
  grid-template-columns: auto auto auto;

}

.animal__list--title, .animal__form--title {
  text-align: center;
  margin-bottom: 16px;
}

.animal__list--wrapper {
  margin-bottom: 40px;
}

.animal__item {
  text-align: center;
}



/* TASK FORM */

.task__form--wrapper {
  width:100%;
  max-width: 400px;
  margin: auto;
  border: solid 1px all;
  border-radius: 25px;
  padding: 12px;
  background-color: green;
}

.task__form {
  display: flex;
  margin-top: 8px;

}

/* BUTTON */
.task__form--button {
  background-color: red;
  height: 100%;
  max-height: 20px;
  width: 100%;
  max-width: 80px;
}

/* DETAILS */

.task__input--details {
  size: 100px;
  padding: 8px;
  border-radius: 999px;
  border: 1px solid;
  margin-bottom: 8px;
  margin-right: 8px;
}

/* DATE */

input[type="date"] {
  background-color: #F9E4FF;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: 000;
  font-size: 12px;
  border: solid black;
  border-radius: 5px;
  margin-left: 2px;
}

/* SELECT */

select {
  padding: 8px;
  border-radius: 999px;
  border: 1px solid;
  background-color: #F9E4FF;
  margin-bottom: 8px;

}

.task__element--wrapper, .select__wrapper {
  margin-right: 8px;
}


.task__submit {
  height: 100%;
  max-height: 50px;
  margin-top: 87px;
}

/* FOOTER */

.footer__cop {
  text-align: center;
  margin: 8px 0;
}