.footer-container{
    background-color: #e5ffe4;
    padding: 10px;
}
.footer-button-container{
    padding: 20px;
    padding-left: 0;
}
/* CSS */
.footer-buttons {
  background-color: #e4fffe;
  border-radius: 100px;
  box-shadow: rgba(44, 161, 187, 0.2) 0 -25px 18px -14px inset,rgba(44, 161, 187, 0.2) 0 1px 2px,rgba(44, 161, 187, 0.2) 0 2px 4px,rgba(44, 161, 187, 0.2) 0 4px 8px,rgba(44, 161, 187, 0.2) 0 8px 16px,rgba(44, 161, 187, 0.2) 0 16px 32px;
  color: violet;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  touch-action: manipulation;
}

.footer-buttons:hover {
  box-shadow: rgba(44, 161, 187, 0.2) 0 -25px 18px -14px inset,rgba(44, 161, 187, 0.2) 0 1px 2px,rgba(44, 161, 187, 0.2) 0 2px 4px,rgba(44, 161, 187, 0.2) 0 4px 8px,rgba(44, 161, 187, 0.2) 0 8px 16px,rgba(44, 161, 187, 0.2) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}



.footer-buttons:active {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #8245e4;
}

.footer-buttons:hover {
  background-color: #f9e4ff;
  border-color: #FAA4A4;
}


/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
} 